<nav class="navbar navbar-expand-lg bg-dark navbar-dark py3 fixed-top">
    <div class="container">
        <a (click)="goToDashboard()" class="navbar-brand">Tumuvi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navmenu" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li *ngIf="user?.isAdmin" class="navbar-item">
                    <a class="nav-link" (click)="goToAddMovie()">Add Movie</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" (click)="goToDashboard()">Movies</a>
                </li>
                <li *ngIf="!user?.isAdmin" class="navbar-item">
                    <a class="nav-link" (click)="goToCart()">Cart</a>
                </li>
                <li *ngIf="user?.isAdmin" class="navbar-item">
                    <a class="nav-link" (click)="goToInfo()">Info</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" (click)="goToLogin()">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>