<div class="login">
    <div class="login-content">
        <div class="login-img">
            <img src="../../../assets/images/undraw_horror_movie_3988.svg" alt="">
        </div>
        <div class="login-form">
            <!-- Register -->
            <form action="" class="login-create" id="login-up">
                <h1 class="login-title">Create Account?</h1>
                <div class="login-box">
                    <i class="bx bx-user login-icon"></i>
                    <input type="text" placeholder="Name" class="login-input">
                </div>
                <div class="login-box">
                    <i class="bx bx-at login-icon"></i>
                    <input type="text" placeholder="Email" class="login-input">
                </div>
                <div class="login-box">
                    <i class="bx bx-lock login-icon"></i>
                    <input type="password" placeholder="Password" class="login-input">
                </div>
                <a href="#" class="login-button">Sign Up</a>
                <div>
                    <span class="login-account">Already have an Account?</span>
                    <span class="login-signup" id="sign-in" (click)="onToggleRegisterSection()">Sign In</span>
                </div>
                <div class="login-social">
                    <a href="#" class="login-social-icon"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="login-social-icon"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="login-social-icon"><i class="bx bxl-google"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>