<app-spinner *ngIf="loading"></app-spinner>
<section *ngIf="movie && !loading" class="p-5 bg-dark text-light">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-4">
                <img [src]="movie.image" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 p-5">
                <h2>{{movie.title}}</h2>
                <p>{{movie.synopsis}}</p>
                <button [disabled]="isMovieInCart || isMovieRented" class="btn btn-light" (click)="addMovieToCart(movie)">Add to Cart</button>
                <button *ngIf="user.isAdmin" class="btn btn-success d-block mt-3" (click)="goToEditMovie(movie)">Edit Movie</button>
                <div *ngIf="isMovieInCart || isMovieRented" class="col-md-3 p-2 my-3 alert alert-warning" role="alert">
                    <p class="m-0">{{messageString}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="movie && !loading" class="p-5 bg-dark text-light">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <h2 class="text-center mb-4">Movie Info</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-light">
                        <span class="fw-bold">Title:</span><p>{{movie.title}}</p>
                    </li>
                    <li class="list-group-item text-light">
                        <span class="fw-bold">Genre:</span><p *ngFor="let genre of movie.genre">{{genre}}</p>
                    </li>
                    <li class="list-group-item text-light">
                        <span class="fw-bold">Director:</span><p>{{movie.director}}</p>
                    </li>
                    <li class="list-group-item text-light">
                        <span class="fw-bold">Origin:</span><p>{{movie.country}}</p>
                    </li>
                    <li class="list-group-item text-light">
                        <span class="fw-bold">Duration:</span><p>{{movie.duration}}</p>
                    </li>
                    <li class="list-group-item text-light">
                        <span class="fw-bold">Year:</span><p>{{movie.year}}</p>
                    </li>
                    <li class="list-group-item text-light">
                        <span class="fw-bold">Price:</span><p>${{movie.price}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>