<div class="login">
    <div class="login-content">
        <div class="login-img">
            <img src="../../../assets/images/undraw_horror_movie_3988.svg" alt="">
        </div>
        <div class="login-form">
            <!-- Login -->
            <form action="" class="login-register" id="login-in">
                <h1 class="login-title">Sign In</h1>
                <div class="login-box">
                    <i class="bx bx-user login-icon"></i>
                    <input type="text" placeholder="Email" class="login-input">
                </div>
                <div class="login-box">
                    <i class="bx bx-lock login-icon"></i>
                    <input type="password" placeholder="Password" class="login-input">
                </div>
                <a href="#" class="login-forgot">Forgot Password?</a>
                <a href="#" class="login-button">Sign In</a>
                <div>
                    <span class="login-account">Don't have an Account?</span>
                    <span class="login-signin" id="sign-up" (click)="onToggleRegisterSection()">Sign Up</span>
                </div>
            </form>
        </div>
    </div>
</div>